<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<dict>
		<key>add_datetime</key>
		<string>5月29日 8:52</string>
		<key>add_datetime_pretty</key>
		<string>1天前</string>
		<key>add_datetime_ts</key>
		<integer>1464483158</integer>
		<key>album</key>
		<dict>
			<key>actived_at</key>
			<integer>0</integer>
			<key>category</key>
			<integer>0</integer>
			<key>count</key>
			<integer>17438</integer>
			<key>covers</key>
			<array>
				<string>http://img4.duitang.com/uploads/blog/201605/29/20160529095104_dthRx.jpeg</string>
			</array>
			<key>id</key>
			<integer>6886662</integer>
			<key>like_count</key>
			<integer>39077</integer>
			<key>name</key>
			<string>♚my little clothes♛</string>
			<key>status</key>
			<integer>0</integer>
		</dict>
		<key>buyable</key>
		<integer>0</integer>
		<key>event_count</key>
		<integer>45</integer>
		<key>extra_html</key>
		<string>

&lt;!DOCTYPE html&gt;
&lt;html lang="zh-cn"&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;picture&lt;/title&gt;
&lt;style&gt;
body,
hr,
h1,p,dl,dt,dd { margin: 0; padding: 0 }
body {
width: 100%;
max-width: 590px;
margin: 0 auto;
margin-top: 1px;
background-color: #fff;
font-size: 14px;
font-family: 'Helvetica Neue' sans-serif;
-webkit-user-select: none;
-webkit-touch-callout: none;
-webkit-text-size-adjust: none
}
a { text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0) }
hr {
height: 1px;
border: none;
background-image: -webkit-linear-gradient(bottom, transparent 50%, rgba(0, 0, 0, .12) 50%);
background-repeat: no-repeat;
background-size: 100% 1px;
background-position: bottom
}
section { background-color: #fff }
.clr:after { content: "\0020"; display: block; height: 0; clear: both }
.nw { word-break: keep-all; white-space: nowrap; overflow: hidden; text-overflow: ellipsis }
.data-img { background-size: 100% auto }
/* tags */
.tags { padding: 0 0 13px 12px; font-size: 0 }
.tags a {
display: inline-block;
margin: 12px 12px 0 0;
padding: 0 9px;
font-size: 14px;
line-height: 32px;
color: #3498db;
border: 1px solid rgba(0, 0, 0, .12);
border-radius: 4px
}
/* source */
.source-normal hr{ margin:0 0 -1px 12px; }
.source-normal .info { position: relative; display: block; padding:0 12px 0 32px}
.source-normal .source-desc { width: 100%; line-height: 36px; font-size: 13px; color: #333 }
.source-normal .data-img { position: absolute; width: 16px; height: 16px; top:10px; left: 12px }
/* source-goods */
.source-goods { padding-left: 12px }
.source-goods .info { position: relative; display: block; padding:0 12px 0 20px }
.source-goods .info .source-desc { padding: 10px 72px 2px 0; color: #333; font-size: 13px; line-height: 16px }
.source-goods .info .data-img { position: absolute; width: 16px; height: 16px; top:10px; left: 0; }
.source-goods .price { position: relative; text-align: right; padding-right: 12px; height: 26px }
.source-goods .price span { position: absolute; top: 0; left: 0; font-size: 15px; color: #e74c3c; }
.source-goods .price a { position: absolute; top:-16px; right: 12px; display: block; width: 60px; height: 30px; background-color: #e74c3c; line-height: 30px; font-size: 14px; color: #fff; text-align: center; border-radius: 4px; }
/* list */
.list { overflow: hidden }
.list h1 { padding-left: 12px; padding-bottom: 10px; font-weight: 400; font-size: 13px; color: #999 }
.list .data-img { position: absolute; display: block; width: 50px; height: 50px; top: 12px; left: 12px }
.list a { position: relative; display: block; height: 50px; padding: 12px 12px 12px 72px}
.list hr { position: absolute; width: 100%; top: 0; left: 12px }
.list span { display: block;}
.list .tb{ display:table; height:50px;font-size: 0 }
.list .info{ display: table-cell; vertical-align: middle;}
.list .desc{ font-size: 13px; color: #333}
.list .price{ margin-top: 1px; font-size: 13px; color: #e74c3c}
/* audio */
.audio { position: relative; padding-left: 12px; }
.audio .info{ margin-right: 60px }
.audio .info h1{ margin-bottom: 4px; font-size: 14px; font-weight: bold; color:#333 ; word-break:break-all }
.audio .info p{ margin-bottom: 3px; font-size: 12px; color: #999}
.audio .source{position: relative; padding:0 12px 0 20px }
.audio .source .source-desc{ width: 100%; padding: 5px 0 12px 0; color: #999; font-size: 13px; line-height: 16px }
.audio .source .data-img { position: absolute; width: 16px; height: 16px; top:5px; left: 0 }
#audio-btn{ position: absolute; width: 36px; height: 36px; top: 2px; right: 12px; background-size:72px auto; }
/* video */
.video { position: relative; padding-left: 12px; }
.video .info h1{ margin-bottom: 4px; font-size: 14px; font-weight: bold; color:#333}
.video .info p{ margin-bottom: 3px; font-size: 12px; margin-right: 124px; color: #999}
.video .info p.actor{ margin-right: 12px }
.video .source{position: relative; padding:0 12px 0 20px }
.video .source .source-desc{ width: 100%; padding: 5px 0 12px 0; color: #999; font-size: 13px; line-height: 16px }
.video .source .data-img { position: absolute; width: 16px; height: 16px; top:5px; left: 0 }
.video .video-ad{ position: absolute; bottom:12px; right: 12px; width: 100px; height: 66px; }
#video-btn { display: block; width: 36px; height: 36px; margin-top: 16px; margin-left: 30px;}
/* repiece */
.recipe { padding:0 0 18px 12px; }
.recipe .source {position: relative; padding:0 12px 0 20px }
.recipe .source .source-desc{ width: 100%; padding: 0 0 10px 0; color: #999; font-size: 13px; line-height: 16px }
.recipe .source .data-img { position: absolute; width: 16px; height: 16px; top:0; left: 0}
.recipe .info { margin-bottom: 18px;}
.recipe dt { padding-bottom: 8px; font-size: 12px; font-weight: bold; color: #666; }
.recipe dd { display: table; width: 100%; background-image: -webkit-linear-gradient(bottom, transparent 50%, rgba(0, 0, 0, .12) 50%); background-repeat: no-repeat; background-size: 100% 1px; background-position: bottom; }
.recipe dd p { display: table-cell; width: 50%; padding: 8px 0; word-wrap: break-word; word-break: break-all; overflow: hidden; vertical-align: middle }
.recipe dd span { display: block; padding-right: 12px; font-size: 12px }
.recipe dd .c-l{ color:#666 }
.recipe dd .c-r{ color: #999 }
.recipe .source-link{ display: block; margin: 0 12px 0 0 ; background-color: #E74C3C; color: #fff; text-align: center; line-height: 34px; border-radius: 4px;}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;section class="source-normal"&gt;
&lt;hr /&gt;
&lt;a href="javascript:;" class="info clr" data-href="http://redirect.dtxn.net/dj/go2/?to=http%3A%2F%2Fwww.polyvore.com%2Flittle_princess%2Fset%3Fid%3D199052598&amp;amp;app_code=gandalf&amp;amp;__urlopentype=inweb" data-hover-styles="{backgroundColor:'#f1f2f3'}" onclick="onMobclickAgent('BLOG_SOURCELINK_CLICKED')"&gt;
&lt;div class="data-img source-icon-div" data-img="http://img4.duitang.com/uploads/misc/201411/06/20141106140440_AUdmV.png"&gt;&lt;/div&gt;
&lt;img class="source-icon-img" data-img="http://img4.duitang.com/uploads/misc/201411/06/20141106140440_AUdmV.png" style="display:none"&gt;
&lt;div class="source-desc nw"&gt;Little Princess - Polyvore&lt;/div&gt;
&lt;/a&gt;
&lt;/section&gt;
&lt;section class="tags"&gt;
&lt;hr /&gt;
&lt;a href="javascript:;" data-href="duitang://www.duitang.com/blog/list/tag/?id=769&amp;name=设计" data-hover-styles="{backgroundColor:'#f1f2f3'}" onclick="onMobclickAgent('BLOG_TAG_CLICKED')"&gt;#设计&lt;/a&gt;
&lt;a href="javascript:;" data-href="duitang://www.duitang.com/blog/list/tag/?id=998&amp;name=女装" data-hover-styles="{backgroundColor:'#f1f2f3'}" onclick="onMobclickAgent('BLOG_TAG_CLICKED')"&gt;#女装&lt;/a&gt;
&lt;a href="javascript:;" data-href="duitang://www.duitang.com/blog/list/tag/?id=885&amp;name=配饰" data-hover-styles="{backgroundColor:'#f1f2f3'}" onclick="onMobclickAgent('BLOG_TAG_CLICKED')"&gt;#配饰&lt;/a&gt;
&lt;a href="javascript:;" data-href="duitang://www.duitang.com/blog/list/tag/?id=2240&amp;name=摄影" data-hover-styles="{backgroundColor:'#f1f2f3'}" onclick="onMobclickAgent('BLOG_TAG_CLICKED')"&gt;#摄影&lt;/a&gt;
&lt;/section&gt;
&lt;script&gt;
window.init = function(useHref) {
window.connectWebViewJavascriptBridge = function(callback) {
if (window.WebViewJavascriptBridge) {
callback(WebViewJavascriptBridge)
} else {
document.addEventListener('WebViewJavascriptBridgeReady', function() {
callback(WebViewJavascriptBridge)
}, false)
}
};
window.connectWebViewJavascriptBridge(function(bridge) {
window.onMobclickAgent = function(name){
bridge.send({ MobClickEventName: name });
}
});
var a, handler, opts;
a = window.document.querySelectorAll('a');
opts = {
isTouchMove: false,
delay: 150,
clear: '',
defaultStyles: {},
hoverStyles: {},
changeStyles: function(reference, target, offer) {
var _t, _s;
_t = target;
_s = offer || reference;
for (var key in reference) {
_t[key] = _s[key];
}
},
initHover: function(el) {
var hoverStyles, defaultStyles;
if (el.dataset.hoverStyles) {
try {
hoverStyles = eval('(' + el.dataset.hoverStyles + ')');
} catch (err) {
alert('错误信息：data-hover-styles 格式错误');
}
opts.changeStyles(hoverStyles, opts.hoverStyles);
}
if (!el.dataset.defaultStyles) {
opts.changeStyles(hoverStyles, opts.defaultStyles, el.style);
el.dataset.defaultStyles = JSON.stringify(opts.defaultStyles);;
} else {
try {
defaultStyles = eval('(' + el.dataset.defaultStyles + ')');
} catch (err) {
alert('错误信息：data-hover-styles 格式错误');
}
opts.changeStyles(defaultStyles, opts.defaultStyles);
}
}
};
handler = function(e) {
var _t = this;
if(e.type === 'touchstart'){
opts.isTouchMove = false;
}else if(e.type === 'touchmove'){
opts.isTouchMove = true;
}else if(e.type === 'touchend'){
if (!opts.isTouchMove) {
window.location.href = _t.dataset.href;
}
}
if (_t.dataset.hoverStyles) {
switch (e.type) {
case 'touchstart':
{
opts.initHover(_t);
opts.clear = setTimeout(function() {
opts.changeStyles(opts.hoverStyles, _t.style);
}, opts.delay);
break;
}
case 'touchmove':
{
clearTimeout(opts.clear);
opts.changeStyles(opts.defaultStyles, _t.style);
break;
}
case 'touchend':
{
setTimeout(function() {
opts.changeStyles(opts.defaultStyles, _t.style);
}, opts.delay);
break;
}
}
}
};
if(useHref){
for (var i = 0, l = a.length; i &lt; l; i++) {
a[i].href = a[i].dataset.href;
a[i].target = "_parent";
}
var tagsdiv = document.getElementsByClassName('tags');
if(tagsdiv.length){
tagsdiv[0].style.display = 'none';
}
}else{
for (var i = 0, l = a.length; i &lt; l; i++) {
a[i].addEventListener('touchstart', handler, false);
a[i].addEventListener('touchmove', handler, false);
a[i].addEventListener('touchend', handler, false);
}
}
var divs = document.getElementsByClassName('data-img');
if(divs.length){
for( var i=0,l=divs.length;i&lt;l; i++ ){
var src = divs[i].getAttribute('data-img');
divs[i].style.backgroundImage = ['url(',src,')'].join('');
};
}
var source_icon_img = document.getElementsByClassName('source-icon-img')[0];
if(typeof source_icon_img !== 'undefined' ){
source_icon_img.setAttribute('src',source_icon_img.getAttribute('data-img'));
source_icon_img.onerror = function(){
document.getElementsByClassName('source-icon-div')[0].style.backgroundImage = "url(http://img4.duitang.com/uploads/people/201409/12/20140912191653_S4Cy4.png)";
}
}
};
window.addEventListener('load', function(){init(false)}, false);
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
		<key>extra_type</key>
		<string>PICTURE</string>
		<key>favorite_count</key>
		<integer>45</integer>
		<key>has_favorited</key>
		<integer>0</integer>
		<key>icon_url</key>
		<string></string>
		<key>id</key>
		<integer>581614335</integer>
		<key>is_root</key>
		<integer>1</integer>
		<key>like_count</key>
		<integer>0</integer>
		<key>like_id</key>
		<integer>0</integer>
		<key>msg</key>
		<string>#bossLady</string>
		<key>next_id</key>
		<integer>581614234</integer>
		<key>photo</key>
		<dict>
			<key>height</key>
			<integer>600</integer>
			<key>path</key>
			<string>http://img3.duitang.com/uploads/blog/201605/29/20160529085238_ECUhc.jpeg_webp</string>
			<key>width</key>
			<integer>600</integer>
		</dict>
		<key>prev_id</key>
		<integer>581614730</integer>
		<key>related_albums</key>
		<array>
			<dict>
				<key>actived_at</key>
				<integer>0</integer>
				<key>category</key>
				<integer>0</integer>
				<key>count</key>
				<integer>17438</integer>
				<key>covers</key>
				<array>
					<string>http://img4.duitang.com/uploads/blog/201605/29/20160529095104_dthRx.jpeg</string>
				</array>
				<key>id</key>
				<integer>6886662</integer>
				<key>is_root</key>
				<integer>1</integer>
				<key>like_count</key>
				<integer>39077</integer>
				<key>name</key>
				<string>♚my little clothes♛</string>
				<key>status</key>
				<integer>0</integer>
				<key>user</key>
				<dict>
					<key>avatar</key>
					<string>http://img3.duitang.com/uploads/people/201504/03/20150403H4745_vmZTB.jpeg</string>
					<key>id</key>
					<integer>1749851</integer>
					<key>username</key>
					<string>-瑶小瑶</string>
				</dict>
			</dict>
			<dict>
				<key>actived_at</key>
				<integer>0</integer>
				<key>category</key>
				<integer>0</integer>
				<key>count</key>
				<integer>6791</integer>
				<key>covers</key>
				<array>
					<string>http://img3.duitang.com/uploads/blog/201605/29/20160529084628_UuCzN.jpeg</string>
				</array>
				<key>desc</key>
				<string></string>
				<key>id</key>
				<integer>1687518</integer>
				<key>like_count</key>
				<integer>134</integer>
				<key>name</key>
				<string>配</string>
				<key>status</key>
				<integer>0</integer>
				<key>user</key>
				<dict>
					<key>avatar</key>
					<string>http://img3.duitang.com/uploads/people/201403/09/20140309145703_yMPms.jpeg</string>
					<key>id</key>
					<integer>1000627</integer>
					<key>username</key>
					<string>linlili</string>
				</dict>
			</dict>
			<dict>
				<key>actived_at</key>
				<integer>0</integer>
				<key>category</key>
				<integer>0</integer>
				<key>count</key>
				<integer>68</integer>
				<key>covers</key>
				<array>
					<string>http://img3.duitang.com/uploads/blog/201605/29/20160529095015_NWhxH.jpeg</string>
				</array>
				<key>desc</key>
				<string></string>
				<key>id</key>
				<integer>77836346</integer>
				<key>like_count</key>
				<integer>1</integer>
				<key>name</key>
				<string>衣服</string>
				<key>status</key>
				<integer>0</integer>
				<key>user</key>
				<dict>
					<key>avatar</key>
					<string>http://img3.duitang.com/uploads/files/201312/19/20131219204922_5WTEa.jpeg</string>
					<key>id</key>
					<integer>11628286</integer>
					<key>username</key>
					<string>妍泰</string>
				</dict>
			</dict>
			<dict>
				<key>actived_at</key>
				<integer>0</integer>
				<key>category</key>
				<integer>0</integer>
				<key>count</key>
				<integer>64</integer>
				<key>covers</key>
				<array>
					<string>http://img3.duitang.com/uploads/blog/201605/18/20160518200241_mGB5v.jpeg</string>
				</array>
				<key>desc</key>
				<string></string>
				<key>id</key>
				<integer>75171931</integer>
				<key>like_count</key>
				<integer>3</integer>
				<key>name</key>
				<string>我心水的穿搭们</string>
				<key>status</key>
				<integer>0</integer>
				<key>user</key>
				<dict>
					<key>avatar</key>
					<string>http://img3.duitang.com/uploads/item/201506/20/20150620195507_Stkfv.jpeg</string>
					<key>id</key>
					<integer>7496717</integer>
					<key>username</key>
					<string>歪鼻子树</string>
				</dict>
			</dict>
		</array>
		<key>reply_count</key>
		<integer>0</integer>
		<key>root_album</key>
		<dict>
			<key>actived_at</key>
			<integer>0</integer>
			<key>category</key>
			<integer>0</integer>
			<key>count</key>
			<integer>17438</integer>
			<key>covers</key>
			<array>
				<string>http://img4.duitang.com/uploads/blog/201605/29/20160529095104_dthRx.jpeg</string>
			</array>
			<key>id</key>
			<integer>6886662</integer>
			<key>like_count</key>
			<integer>39077</integer>
			<key>name</key>
			<string>♚my little clothes♛</string>
			<key>status</key>
			<integer>0</integer>
		</dict>
		<key>sender</key>
		<dict>
			<key>avatar</key>
			<string>http://img3.duitang.com/uploads/people/201504/03/20150403H4745_vmZTB.jpeg</string>
			<key>id</key>
			<integer>1749851</integer>
			<key>username</key>
			<string>-瑶小瑶</string>
		</dict>
		<key>sender_id</key>
		<integer>1749851</integer>
		<key>shareLinks_2</key>
		<dict>
			<key>qq</key>
			<string>duitang://www.duitang.com/share/?site=qq&amp;title=%23bossLady&amp;desc=%E6%9D%A5%E8%87%AA%E5%A0%86%E7%B3%96%E5%9B%BE%E7%89%87&amp;url=http%3A%2F%2Fwww.duitang.com%2Fblog%2F%3Fid%3D581614335%26src%3Dsinadt&amp;imgurl=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fblog%2F201605%2F29%2F20160529085238_ECUhc.jpeg</string>
			<key>qzone</key>
			<string>duitang://www.duitang.com/share/?site=qzone&amp;title=%E5%A0%86%E7%B3%96%EF%BC%8D%E5%9B%BE%E7%89%87&amp;desc=%23bossLady&amp;url=http%3A%2F%2Fwww.duitang.com%2Fblog%2F%3Fid%3D581614335%26src%3Dsinadt&amp;imgurl=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fblog%2F201605%2F29%2F20160529085238_ECUhc.jpeg</string>
			<key>system</key>
			<string>duitang://www.duitang.com/share/?site=system&amp;title=%23bossLady&amp;desc=%23bossLady%3E%3E%3Ehttp%3A%2F%2Fwww.duitang.com%2Fblog%2F%3Fid%3D581614335%26src%3Dsinadt%E6%9D%A5%E8%87%AA%E5%A0%86%E7%B3%96%EF%BC%8C%E6%83%B3%E7%9C%8B%E6%9B%B4%E5%A4%9A%E5%9B%BE%E7%89%87%E4%B8%8B%E8%BD%BD%E2%86%92http%3A%2F%2Fweibo.com%2Fp%2F100404149543&amp;url=http%3A%2F%2Fwww.duitang.com%2Fblog%2F%3Fid%3D581614335%26src%3Dsinadt&amp;imgurl=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fblog%2F201605%2F29%2F20160529085238_ECUhc.jpeg</string>
			<key>weibo</key>
			<string>duitang://www.duitang.com/share/?site=weibo&amp;title=%23bossLady&amp;desc=%23bossLady...%E5%8E%BB%E5%A0%86%E7%B3%96%E6%9F%A5%E7%9C%8B%E6%9B%B4%E5%A4%9A%E5%9B%BE%E7%89%87%3E%3E%3E&amp;url=http%3A%2F%2Fwww.duitang.com%2Fblog%2F%3Fid%3D581614335%26src%3Dsinadt&amp;imgurl=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fblog%2F201605%2F29%2F20160529085238_ECUhc.jpeg</string>
			<key>weixin</key>
			<string>duitang://www.duitang.com/share/?site=weixin&amp;title=%E5%A0%86%E7%B3%96%EF%BC%8D%E5%9B%BE%E7%89%87&amp;desc=%23bossLady&amp;url=http%3A%2F%2Fwww.duitang.com%2Fblog%2F%3Fid%3D581614335%26src%3Dsinadt&amp;imgurl=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fblog%2F201605%2F29%2F20160529085238_ECUhc.jpeg&amp;scene=session&amp;contenttype=link</string>
			<key>weixinpengyouquan</key>
			<string>duitang://www.duitang.com/share/?site=weixin&amp;title=%23bossLady%EF%BC%8D%E5%A0%86%E7%B3%96&amp;desc=&amp;url=http%3A%2F%2Fwww.duitang.com%2Fblog%2F%3Fid%3D581614335%26src%3Dsinadt&amp;imgurl=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fblog%2F201605%2F29%2F20160529085238_ECUhc.jpeg&amp;scene=timeline&amp;contenttype=link</string>
		</dict>
		<key>share_links_2</key>
		<dict>
			<key>qq</key>
			<string>duitang://www.duitang.com/share/?site=qq&amp;title=%23bossLady&amp;desc=%E6%9D%A5%E8%87%AA%E5%A0%86%E7%B3%96%E5%9B%BE%E7%89%87&amp;url=http%3A%2F%2Fwww.duitang.com%2Fblog%2F%3Fid%3D581614335%26src%3Dsinadt&amp;imgurl=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fblog%2F201605%2F29%2F20160529085238_ECUhc.jpeg</string>
			<key>qzone</key>
			<string>duitang://www.duitang.com/share/?site=qzone&amp;title=%E5%A0%86%E7%B3%96%EF%BC%8D%E5%9B%BE%E7%89%87&amp;desc=%23bossLady&amp;url=http%3A%2F%2Fwww.duitang.com%2Fblog%2F%3Fid%3D581614335%26src%3Dsinadt&amp;imgurl=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fblog%2F201605%2F29%2F20160529085238_ECUhc.jpeg</string>
			<key>system</key>
			<string>duitang://www.duitang.com/share/?site=system&amp;title=%23bossLady&amp;desc=%23bossLady%3E%3E%3Ehttp%3A%2F%2Fwww.duitang.com%2Fblog%2F%3Fid%3D581614335%26src%3Dsinadt%E6%9D%A5%E8%87%AA%E5%A0%86%E7%B3%96%EF%BC%8C%E6%83%B3%E7%9C%8B%E6%9B%B4%E5%A4%9A%E5%9B%BE%E7%89%87%E4%B8%8B%E8%BD%BD%E2%86%92http%3A%2F%2Fweibo.com%2Fp%2F100404149543&amp;url=http%3A%2F%2Fwww.duitang.com%2Fblog%2F%3Fid%3D581614335%26src%3Dsinadt&amp;imgurl=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fblog%2F201605%2F29%2F20160529085238_ECUhc.jpeg</string>
			<key>weibo</key>
			<string>duitang://www.duitang.com/share/?site=weibo&amp;title=%23bossLady&amp;desc=%23bossLady...%E5%8E%BB%E5%A0%86%E7%B3%96%E6%9F%A5%E7%9C%8B%E6%9B%B4%E5%A4%9A%E5%9B%BE%E7%89%87%3E%3E%3E&amp;url=http%3A%2F%2Fwww.duitang.com%2Fblog%2F%3Fid%3D581614335%26src%3Dsinadt&amp;imgurl=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fblog%2F201605%2F29%2F20160529085238_ECUhc.jpeg</string>
			<key>weixin</key>
			<string>duitang://www.duitang.com/share/?site=weixin&amp;title=%E5%A0%86%E7%B3%96%EF%BC%8D%E5%9B%BE%E7%89%87&amp;desc=%23bossLady&amp;url=http%3A%2F%2Fwww.duitang.com%2Fblog%2F%3Fid%3D581614335%26src%3Dsinadt&amp;imgurl=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fblog%2F201605%2F29%2F20160529085238_ECUhc.jpeg&amp;scene=session&amp;contenttype=link</string>
			<key>weixinpengyouquan</key>
			<string>duitang://www.duitang.com/share/?site=weixin&amp;title=%23bossLady%EF%BC%8D%E5%A0%86%E7%B3%96&amp;desc=&amp;url=http%3A%2F%2Fwww.duitang.com%2Fblog%2F%3Fid%3D581614335%26src%3Dsinadt&amp;imgurl=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fblog%2F201605%2F29%2F20160529085238_ECUhc.jpeg&amp;scene=timeline&amp;contenttype=link</string>
		</dict>
		<key>source_domain</key>
		<string>www.polyvore.com</string>
		<key>source_link</key>
		<string>http://redirect.dtxn.net/dj/go2/?to=http%3A%2F%2Fwww.polyvore.com%2Flittle_princess%2Fset%3Fid%3D199052598&amp;app_code=gandalf</string>
		<key>source_shortcut_icon</key>
		<string>http://img4.duitang.com/uploads/misc/201411/06/20141106140440_AUdmV.png</string>
		<key>source_title</key>
		<string>Little Princess - Polyvore</string>
		<key>tags</key>
		<array>
			<dict>
				<key>id</key>
				<integer>769</integer>
				<key>name</key>
				<string>设计</string>
				<key>tag_id</key>
				<integer>769</integer>
				<key>target</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>998</integer>
				<key>name</key>
				<string>女装</string>
				<key>tag_id</key>
				<integer>998</integer>
				<key>target</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>885</integer>
				<key>name</key>
				<string>配饰</string>
				<key>tag_id</key>
				<integer>885</integer>
				<key>target</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<integer>2240</integer>
				<key>name</key>
				<string>摄影</string>
				<key>tag_id</key>
				<integer>2240</integer>
				<key>target</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>top_comments</key>
		<dict>
			<key>more</key>
			<integer>0</integer>
			<key>next_start</key>
			<integer>0</integer>
			<key>object_list</key>
			<array/>
		</dict>
		<key>top_like_users</key>
		<array/>
	</dict>
	<key>status</key>
	<integer>1</integer>
</dict>
</plist>
